<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME : {{name | upper}} </h1>
    <h2>COURSE : {{course | length}} </h2>

   <!----<h1>STUDENTS LIST</h1>

    {% for i in stud %}
    <ul>
        <li>{{i}}</li>
    </ul>
    {% endfor %} -->


    <!-- {% comment %} -->

    {% if mark >= 50 %}
    <p>YOU ARE PASSED</p>
    {% else %}
    <p>YOU ARE FAILED</p>
    {% endif %}

    <!-- {% endcomment %} -->



</body>
</html>